<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="robot_ns" default="dragon" />
    <arg name="node_name" default="motion_primitive_planner" />
    <arg name="world_frame_id" default="world" />
    <arg name="pcl_topic" default="/pcl_topic" />
    <arg name="target_topic" default="/move_base_simple/goal" />
    <arg name="root_pose_topic" default="/$(arg robot_ns)/root/tail_pose" />
    <arg name="odom_topic" default="/$(arg robot_ns)/root/flu_odom" />
    <arg name="joint_states_topic" default="/$(arg robot_ns)/joint_states" />
    <arg name="command_topic" default="/$(arg robot_ns)/root/target_pose" />
    <arg name="trajectory_topic" default="/planning/trajectory" />

    <arg name="command_hz" default="40.0" />
    <arg name="publish_yaw_command" default="true" />
    <arg name="max_yaw_rate" default="1.5" />
    <arg name="snake_ik_singularity_threshold" default="0.10" />
    <arg name="replan_trigger_ratio" default="0.5" />
    <arg name="verbose" default="true" />
    <arg name="use_accumulated_map" default="true" />
    <arg name="goal_tolerance" default="0.2" />
    <arg name="planning_horizon" default="3.0" />
    <arg name="zero_local_target_vel" default="true" />
    <arg name="candidate_count" default="9" />
    <arg name="max_primitive_offset" default="0.8" />
    <arg name="fc_rp_min_threshold" default="3.2" />
    <arg name="max_baselink_tilt" default="1.20" />
    <arg name="allow_copilot_stability_projection_fallback" default="false" />

    <arg name="voxel_width" default="0.10" />
    <arg name="dilate_radius" default="0.20" />
    <arg name="map_bound" default="[-10.0, 10.0, -10.0, 10.0, 0.2, 8.0]" />
    <arg name="use_fixed_target_height" default="false" />
    <arg name="target_height" default="1.0" />
    <arg name="use_target_z" default="true" />
    <arg name="max_vel_mag" default="0.2" />

    <include file="$(find motion_primitive_planner)/launch/root_state_to_flu_odom.launch">
        <arg name="robot_ns" value="$(arg robot_ns)" />
        <arg name="root_pose_topic" value="$(arg root_pose_topic)" />
        <arg name="flu_odom_topic" value="$(arg odom_topic)" />
    </include>

    <include file="$(find voxel_mapping)/launch/voxel_mapping.launch">
        <arg name="robot_ns" value="$(arg robot_ns)" />
        <arg name="node_name" value="$(arg node_name)_voxel_mapping" />
        <arg name="world_frame_id" value="$(arg world_frame_id)" />
        <arg name="pcl_topic" value="$(arg pcl_topic)" />
        <arg name="voxel_width" value="$(arg voxel_width)" />
        <arg name="map_bound" value="$(arg map_bound)" />
        <arg name="use_accumulated_map" value="$(arg use_accumulated_map)" />
    </include>

    <group ns="$(arg robot_ns)">
        <node pkg="motion_primitive_planner" type="motion_primitive_planner_node"
              name="$(arg node_name)" output="screen">
            <rosparam file="$(find motion_primitive_planner)/config/common_motion_primitive_planner.yaml" command="load" />
            <rosparam file="$(find motion_primitive_planner)/config/motion_primitive_planner.yaml" command="load" />
            <remap from="target" to="$(arg target_topic)" />
            <remap from="odom" to="$(arg odom_topic)" />
            <remap from="joint_states" to="$(arg joint_states_topic)" />
            <remap from="executed_command" to="$(arg command_topic)" />
            <remap from="trajectory" to="$(arg trajectory_topic)" />
            <param name="WorldFrameId" value="$(arg world_frame_id)" />
            <param name="VoxelWidth" value="$(arg voxel_width)" />
            <param name="DilateRadius" value="$(arg dilate_radius)" />
            <rosparam param="MapBound" subst_value="true">$(arg map_bound)</rosparam>
            <param name="MaxVelMag" value="$(arg max_vel_mag)" />
            <param name="ReplanTriggerRatio" value="$(arg replan_trigger_ratio)" />
            <param name="Verbose" value="$(arg verbose)" />
            <param name="GoalTolerance" value="$(arg goal_tolerance)" />
            <param name="PlanningHorizon" value="$(arg planning_horizon)" />
            <param name="ZeroLocalTargetVel" value="$(arg zero_local_target_vel)" />
            <param name="CandidateCount" value="$(arg candidate_count)" />
            <param name="MaxPrimitiveOffset" value="$(arg max_primitive_offset)" />
            <param name="FcRpMinThreshold" value="$(arg fc_rp_min_threshold)" />
            <param name="MaxBaselinkTilt" value="$(arg max_baselink_tilt)" />
            <param name="AllowCopilotStabilityProjectionFallback"
                   value="$(arg allow_copilot_stability_projection_fallback)" />
            <param name="PublishYawCommand" value="$(arg publish_yaw_command)" />
            <param name="MaxYawRate" value="$(arg max_yaw_rate)" />
            <param name="SnakeIkSingularityThreshold" value="$(arg snake_ik_singularity_threshold)" />
            <param name="CommandHz" value="$(arg command_hz)" />
            <param name="UseFixedTargetHeight" value="$(arg use_fixed_target_height)" />
            <param name="TargetHeight" value="$(arg target_height)" />
            <param name="UseTargetZ" value="$(arg use_target_z)" />
        </node>

        <node pkg="gcopter" type="traj_server" name="$(arg node_name)_traj_server" output="screen">
            <remap from="trajectory" to="$(arg trajectory_topic)" />
            <remap from="command" to="$(arg command_topic)" />
            <remap from="odom" to="$(arg odom_topic)" />
            <param name="WorldFrameId" value="$(arg world_frame_id)" />
            <param name="GravAcc" value="9.8" />
            <param name="CommandHz" value="$(arg command_hz)" />
            <param name="PublishYawCommand" value="$(arg publish_yaw_command)" />
            <param name="MaxYawRate" value="$(arg max_yaw_rate)" />
        </node>
    </group>
</launch>
