<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="node_name" default="whole_body_motion_primitive_planner" />
    <arg name="robot_ns" default="dragon" />
    <arg name="world_frame_id" default="world" />
    <arg name="root_child_frame_id" default="root" />
    <arg name="target_topic" default="/move_base_simple/goal" />
    <arg name="root_pose_topic" default="/$(arg robot_ns)/root/tail_pose" />
    <arg name="odom_topic" default="/$(arg robot_ns)/root/flu_odom" />
    <arg name="joint_states_topic" default="joint_states" />
    <arg name="full_state_target_topic" default="full_state_target" />
    <arg name="root_target_topic" default="/$(arg robot_ns)/root/target_pose" />
    <arg name="trajectory_topic" default="/planning/trajectory" />
    <arg name="pcl_topic" default="/$(arg robot_ns)/cloud_registered_body" />

    <arg name="use_accumulated_map" default="true" />
    <arg name="voxel_width" default="0.10" />
    <arg name="dilate_radius" default="0.20" />
    <arg name="map_bound" default="[-10.0, 10.0, -10.0, 10.0, 0.2, 8.0]" />

    <arg name="planning_horizon" default="3.0" />
    <arg name="max_vel_mag" default="1.0" />
    <arg name="max_angular_vel" default="1.0" />
    <arg name="publish_yaw_command" default="true" />

    <arg name="stability_check_fc_t" default="false" />
    <arg name="fc_rp_min_threshold" default="3.2" />
    <arg name="fc_t_min_threshold" default="0.01" />
    <arg name="overlap_min_clearance" default="0.01" />

    <arg name="fix_target_height" default="true" />
    <arg name="target_height" default="1.0" />

    <arg name="verbose" default="true" />

    <include file="$(find motion_primitive_planner)/launch/root_state_to_flu_odom.launch">
        <arg name="robot_ns" value="$(arg robot_ns)" />
        <arg name="root_pose_topic" value="$(arg root_pose_topic)" />
        <arg name="flu_odom_topic" value="$(arg odom_topic)" />
    </include>

    <include file="$(find voxel_mapping)/launch/voxel_mapping.launch">
        <arg name="robot_ns" value="$(arg robot_ns)" />
        <arg name="node_name" value="$(arg node_name)_voxel_mapping" />
        <arg name="world_frame_id" value="$(arg world_frame_id)" />
        <arg name="pcl_topic" value="$(arg pcl_topic)" />
        <arg name="voxel_width" value="$(arg voxel_width)" />
        <arg name="map_bound" value="$(arg map_bound)" />
        <arg name="use_accumulated_map" value="$(arg use_accumulated_map)" />
    </include>

    <group ns="$(arg robot_ns)">
      <node pkg="motion_primitive_planner" type="whole_body_motion_primitive_planner_node"
            name="$(arg node_name)" output="screen">
        <rosparam file="$(find motion_primitive_planner)/config/common_motion_primitive_planner.yaml" command="load" />
        <rosparam file="$(find motion_primitive_planner)/config/whole_body_motion_primitive_planner.yaml" command="load" />
        <remap from="target" to="$(arg target_topic)" />
        <remap from="odom" to="$(arg odom_topic)" />
        <remap from="joint_states" to="$(arg joint_states_topic)" />
        <remap from="full_state_target" to="$(arg full_state_target_topic)" />
        <remap from="root/target_pose" to="$(arg root_target_topic)" />
        <remap from="trajectory" to="$(arg trajectory_topic)" />
        <param name="WorldFrameId" value="$(arg world_frame_id)" />
        <param name="RootChildFrameId" value="$(arg root_child_frame_id)" />
        <param name="VoxelWidth" value="$(arg voxel_width)" />
        <param name="DilateRadius" value="$(arg dilate_radius)" />
        <rosparam param="MapBound" subst_value="true">$(arg map_bound)</rosparam>
        <param name="PlanningHorizon" value="$(arg planning_horizon)" />
        <param name="MaxVelMag" value="$(arg max_vel_mag)" />
        <param name="MaxAngularVel" value="$(arg max_angular_vel)" />
        <param name="PublishYawCommand" value="$(arg publish_yaw_command)" />
        <param name="StabilityCheckFcT" value="$(arg stability_check_fc_t)" />
        <param name="FcRpMinThreshold" value="$(arg fc_rp_min_threshold)" />
        <param name="FcTMinThreshold" value="$(arg fc_t_min_threshold)" />
        <param name="OverlapMinClearance" value="$(arg overlap_min_clearance)" />
        <param name="FixTargetHeight" value="$(arg fix_target_height)" />
        <param name="TargetHeight" value="$(arg target_height)" />
        <param name="Verbose" value="$(arg verbose)" />
      </node>
    </group>
</launch>
