<?xml version="1.0"?>
<launch>
  <arg name="robot_ns" default="dragon" />
  <arg name="input_topic" default="/$(arg robot_ns)/cloud_registered_body" />
  <arg name="robot_description_param" default="/$(arg robot_ns)/robot_description" />
  <arg name="tf_prefix" default="$(arg robot_ns)" />
  <arg name="world_frame_id" default="world" />
  <!-- FAST-LIO publishes IMU-local XYZ under the estimator frame name body.
       Use the physical mount in the same TF tree as the collision geometry. -->
  <arg name="body_frame" default="$(eval (arg('tf_prefix').rstrip('/') + '/lidar_imu').lstrip('/') if arg('robot_ns') == 'dragon' else '')" />
  <arg name="config" default="$(find pcd_filter)/config/self_filter.yaml" />
  <arg name="debug" default="false" />
  <arg name="enable_self_filter" default="true" />
  <arg name="enable_noise_filter" default="true" />
  <arg name="output_topic" default="$(eval '/' + arg('robot_ns') + ('/cloud_denoised' if arg('enable_noise_filter') else '/cloud_self_filtered'))" />
  <arg name="noise_filter_radius" default="0.20" />
  <arg name="noise_filter_min_neighbors" default="2" />
  <arg name="output_frame_id" default="$(arg world_frame_id)" />
  <arg name="sensor_frame_id" default="$(arg robot_ns)/lidar_imu" />
  <arg name="sensor_origin_offset" default="[-0.011, -0.02329, 0.04412]" />
  <arg name="publish_sensor_origin_tf" default="false" />
  <arg name="body_output_topic" default="/$(arg robot_ns)/cloud_self_filtered" />

  <group ns="$(arg robot_ns)">
    <node if="$(arg publish_sensor_origin_tf)" pkg="tf2_ros" type="static_transform_publisher"
          name="pcd_filter_sensor_tf"
          args="$(eval '%s %s %s 0 0 0 %s %s' % (float(arg('sensor_origin_offset').strip('[]').split(',')[0]), float(arg('sensor_origin_offset').strip('[]').split(',')[1]), float(arg('sensor_origin_offset').strip('[]').split(',')[2]), arg('sensor_frame_id'), arg('output_frame_id')))" />
    <node if="$(arg enable_self_filter)" pkg="pcd_filter" type="pcd_filter_node" name="pcd_self_filter" output="screen">
      <rosparam command="load" file="$(arg config)" />
      <param if="$(eval arg('body_frame') != '')" name="input_frame_aliases/body" value="$(arg body_frame)" />
      <param name="robot_ns" value="$(arg robot_ns)" />
      <param name="robot_description_param" value="$(arg robot_description_param)" />
      <param name="tf_prefix" value="$(arg tf_prefix)" />
      <param name="world_frame_id" value="$(arg world_frame_id)" />
      <param name="output_frame_id" value="$(arg output_frame_id)" />
      <param name="debug" value="$(arg debug)" />
      <remap from="~input" to="$(arg input_topic)" />
      <remap from="~output" to="$(eval arg('body_output_topic') if arg('enable_noise_filter') else arg('output_topic'))" />
    </node>
    <!-- PCLPointCloud2's radius count includes the query point itself. -->
    <node if="$(arg enable_noise_filter)" pkg="nodelet" type="nodelet" name="pcd_denoise"
          args="standalone pcl/RadiusOutlierRemoval" output="screen">
      <param name="radius_search" value="$(arg noise_filter_radius)" />
      <param name="min_neighbors" value="$(eval int(arg('noise_filter_min_neighbors')) + 1)" />
      <remap from="~input" to="$(eval arg('body_output_topic') if arg('enable_self_filter') else arg('input_topic'))" />
      <remap from="~output" to="$(arg output_topic)" />
    </node>
  </group>
</launch>
