<?xml version="1.0"?>
<launch>
    <arg name="robot_ns" default="dragon" />
    <arg name="target_pose_frame_type" default="FLU" />
    <arg name="evaluation" default="true" />

    <group ns="$(arg robot_ns)">
        <node pkg="multilink_copilot" type="copilot_planner" name="copilot_planner" output="screen">
            <rosparam command="load" file="$(find multilink_copilot)/config/copilot_planner.yaml" />

            <!-- Target pose coordinate frame: "LINK" or "FLU" -->
            <!-- "LINK": x-axis along link pointing to joint1 (default) -->
            <!-- "FLU": Forward-Left-Up frame (requires 180° rotation about the local/body Z axis) -->
            <param name="target_pose_frame_type" value="$(arg target_pose_frame_type)" />
        </node>
    </group>

    <include if="$(arg evaluation)" file="$(find multilink_copilot)/launch/evaluation/run_evaluation.launch">
        <arg name="robot_ns" value="$(arg robot_ns)" />
    </include>

</launch>
