<?xml version="1.0"?>
<launch>
    <arg name="nonholo" default="false" />
    <arg name="publish_rate_hz" default="60.0" />
    <arg name="total_trajectory_time" default="20.0" />

    <node unless="$(arg nonholo)" pkg="mono_planner" type="waypoint_conditioned_planner_node.py" name="waypoint_conditioned_planner_node" output="screen">
        <param name="publish_rate_hz" value="$(arg publish_rate_hz)" />
        <param name="total_trajectory_time" value="$(arg total_trajectory_time)" />
    </node>

    <node if="$(arg nonholo)" pkg="mono_planner" type="nonholonomic_waypoint_conditioned_planner_node.py" name="nonholonomic_waypoint_conditioned_planner_node" output="screen">
        <param name="publish_rate_hz" value="$(arg publish_rate_hz)" />
        <param name="total_trajectory_time" value="$(arg total_trajectory_time)" />
    </node>
</launch>
