<?xml version="1.0" encoding="utf-8"?>
<launch>

    <arg name="map_topic" default="/voxel_map" />
    <arg name="show_corridor" default="true" />
    <arg name="max_vel_mag" default="2.0" />

    <!-- Mock map generator for the GCOPTER demo -->
    <arg name="mock_seed" default="1024" />
    <arg name="mock_update_freq" default="1.0" />
    <arg name="mock_resolution" default="0.25" />
    <arg name="mock_x_length" default="50" />
    <arg name="mock_y_length" default="50" />
    <arg name="mock_z_length" default="5" />
    <arg name="mock_type" default="1" />
    <arg name="mock_complexity" default="0.025" />
    <arg name="mock_fill" default="0.3" />
    <arg name="mock_fractal" default="1" />
    <arg name="mock_attenuation" default="0.1" />

    <node pkg="mockamap" type="mockamap_node" name="mockamap_node" output="screen">
        <param name="seed" type="int" value="$(arg mock_seed)" />
        <param name="update_freq" type="double" value="$(arg mock_update_freq)" />
        <param name="resolution" type="double" value="$(arg mock_resolution)" />
        <param name="x_length" type="int" value="$(arg mock_x_length)" />
        <param name="y_length" type="int" value="$(arg mock_y_length)" />
        <param name="z_length" type="int" value="$(arg mock_z_length)" />
        <param name="type" type="int" value="$(arg mock_type)" />
        <param name="complexity" type="double" value="$(arg mock_complexity)" />
        <param name="fill" type="double" value="$(arg mock_fill)" />
        <param name="fractal" type="int" value="$(arg mock_fractal)" />
        <param name="attenuation" type="double" value="$(arg mock_attenuation)" />
        <remap from="/mock_map" to="$(arg map_topic)" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find gcopter)/rviz/global_planning.rviz">
    </node>

    <!-- <node name="pos_vel_plot" pkg="rqt_plot" type="rqt_plot" args="/visualizer/speed /visualizer/tilt_angle /visualizer/body_rate">
    </node> -->

    <include file="$(find gcopter)/launch/gcopter_planner.launch">
        <arg name="map_topic" value="$(arg map_topic)" />
        <arg name="show_corridor" value="$(arg show_corridor)" />
        <arg name="max_vel_mag" value="$(arg max_vel_mag)" />
    </include>

</launch>
