<?xml version="1.0"?>
<launch>
    <arg name="robot_ns" default="hydrus_xi" />
    <group ns="des_state">
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="tf_prefix" value="des_state" />
            <remap from="robot_description" to="/$(arg robot_ns)/robot_description" />
            <remap from="joint_states" to="/$(arg robot_ns)/des_joint_vis_state" />
        </node>
    </group>

    <group ns="target_state">
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="tf_prefix" value="target_state" />
            <remap from="robot_description" to="/$(arg robot_ns)/robot_description" />
            <remap from="joint_states" to="/$(arg robot_ns)/target_joint_vis_state" />
        </node>
    </group>

    <group ns="start_state">
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="tf_prefix" value="start_state" />
            <remap from="robot_description" to="/$(arg robot_ns)/robot_description" />
            <remap from="joint_states" to="/$(arg robot_ns)/start_joint_vis_state" />
        </node>
    </group>

</launch>